[Unit]
Description=Start Drivers EPU Undulator
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
WorkingDirectory=/root/epu-interface-sw
ExecStartPre=/bin/sleep 20
ExecStart=/bin/bash run.sh
SyslogIdentifier=DriversEPU

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
